<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{title}}/{{entry}}</title>
    <script src="//cdn.chenzhicheng.com/assets/js/bitstring.js"></script>
    <script src="//cdn.chenzhicheng.com/assets/js/pcmdata.min.js"></script>
    <script src="//cdn.chenzhicheng.com/assets/js/speex.js"></script>
    <script src="//cdn.chenzhicheng.com/assets/js/pcm.js"></script>
</head>
<body>
    {{content|safe}}
    <script>
	function decodeFile(bufSpx) {
            var stream, samples, st;
            var ogg, header, err;

            ogg = new Ogg(bufSpx, { file: true });
            ogg.demux();
            stream = ogg.bitstream();

            header = Speex.parseHeader(ogg.frames[0]);

            comment = new SpeexComment(ogg.frames[1]);

            st = new Speex({
            quality: 8,
            mode: header.mode,
            rate: header.rate,
            });

            samples = st.decode(stream, ogg.segments);

            var waveData = PCMData.encode({
            sampleRate: header.rate,
            channelCount: header.nb_channels,
            bytesPerSample: 2,
            data: samples,
            });

            // array buffer holding audio data in wav codec
            var bufWav = Speex.util.str2ab(waveData);
            // convert to a blob object
            var blob = new Blob([bufWav], { type: "audio/aac" });
            // return a "blob://" url which can be used as a href anywhere
            blob.arrayBuffer().then(buffer => {
            const typedArray = new Uint8Array(buffer);
            const array = [...typedArray];
            new pcm({channels: 1, rate: 32000, depth: 16}).toWav(array).play();
            });
        }
        //play sound
        player = document.createElement("audio")
        player.id = 'player'

        function play(url) {
            console.log(url)
            //var url = sound.href.replace("sound://", "")
            //var audio = document.createElement("audio")
            //player.pause()
            
	    if (url.indexOf('.spx') !== -1) {
		let blob = await fetch(url).then(r => r.blob()).then(blob=>blob.arrayBuffer()).then(buffer=>{
		    const array = new Uint8Array(buffer);
		    const binaryString = String.fromCharCode.apply(null, array);
		    decodeFile(binaryString);
		});
	    } else {
	    	player.src = url
            	player.play()
	    }
        }

        function makefunction(url)
        {
            return function (e) {
                play(url)
				e.preventDefault()
            }
        }
        var all_a = document.getElementsByTagName('a')
        for (i in all_a) {
            var item = all_a[i]
            if (item.href && item.href.lastIndexOf("sound://", 0) === 0) {
                var url = item.href.replace("sound://", "")
                var func = makefunction(url)
                item.addEventListener("click",
                    func
                )
            }

            if (item.href && item.href.lastIndexOf("entry://", 0) === 0) {
                item.href = item.href.replace("entry://", "")
            }
        }
    </script>
</body>

</html>
